:root{
  --secondary-color: #f46962;
}

.navbar-brand{
  color: var(--secondary-color) !important;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

nav ul li{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0.03em;
  font-size: 12px;
}

.nav-link.active, .nav-link:active{
  border-bottom: 0.1875rem solid var(--secondary-color) !important;
  
}

.nav-link:hover{
  cursor: pointer;
}



/*----------body----------*/

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  color: #fff;
}

.body-container{
  padding-top: 50px;
  display: flex;
  margin: 50px;
  color: #fff;
  flex-wrap: wrap;
}

.img-container{
  display: flex;
  
  flex: 1;
  height: 550px;
  justify-content: center;
  align-items: center;
}

.text-container{
  flex: 1;
  
  display: flex;
  
  justify-content: center;
}

.text{
  margin: 50px 20px 0 50px;

}

.backrop{
  background-color: var(--secondary-color);
  position: relative;
  width: 440px;
  height: 530px;
  transform: translateX(40px);
}

.imagedrop{
  
  position: absolute;
  width: 400px;
  height: 500px;
  
}

.image-style{
  width: 27.59375rem;
  height: 31.25rem;
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.h-rule{
  width: 120px;
  height: 3px;
  background-color: var(--secondary-color);
  margin-bottom: 40px;
}

.text h2{
  font-size: 35px;
  text-transform: uppercase;
}

.text p{
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
}

.social-media{
  display: flex;
  flex-direction: row;
  
  font-size: 24px;
  margin-top: 120px;
}

.media-icon{
  padding-right: 30px;
}

.media-icon a{
  color: var(--secondary-color);
  text-decoration: none;
}

.media-icon a:hover{
  color: #fff;
}

/*---------------about section----------*/

.about-container{
  display: flex;
  flex-direction: column;
  background-color: #171616;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 100px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  
}

.about-container > h3{
  font-size: 20px;
  text-transform:uppercase;
}

.abc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.professional-skills{
  display: flex;
  flex:1;
  width: 200px;
  height: 300px;
  flex-direction: column;
}

.professional-skills ul{
  list-style: none;
  margin-left: 25%;
}

.professional-skills li{
  text-transform: uppercase;
}

.professional-skills h4{
  margin-bottom: 50px;
  color: #f46962;
  margin-left: 10%;
  text-transform: uppercase;
}

.education{
  display: flex;
  flex:2;
  
  
  width: 200px;
  height: 300px;
  
  flex-direction: column;
}

.education h3{
  color: #f46962;
  text-transform: uppercase;
}

h6{
  color:#bebebe
}

/*---------projects--------*/
.projects-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
  padding-bottom: 50px;
  
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.project-items h4{
  text-transform:uppercase
}

.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-items{
  display: flex;
  flex: 1;
  text-align: center;
  border-radius: 30px;
  
  margin: 20px;
  padding: 30px;
  background-color: crimson;
  align-items: center;
  flex-direction: column;
}

.btn-info{
  width:100px !important;
  margin-top: 30px;
}

/*---contact----*/
.form-control{
  background-color: crimson impor !important;
  margin-top: 20px;
}

@media (max-width:800px){
  .main-body{
    flex-direction: column;
  }



  .text-container{
    padding-left: 20px;
    color: aqua;
  }
}