.Nav{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  margin: 0 50px 0 50px;
  color: #252525;
}

.Brand{
  display: flex;
  flex: 5;
  font-size: 20px;
  
}

.LinksContainer{
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
}

.Nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.middle{
  padding: 0 40px 0 40px;
}

.Nav a{
  text-decoration: none;
  color: #252525;
}

.main-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}