body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  padding: 0;
  color: #fff;
  background-color: #000 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
